body{
	text-align: center;
}
label {
	 color: blue;
	 text-transform: uppercase;
  	 font-weight:bold;
  	 font-family: fantasy;
  	 font-size: 40px;
     display: inline-block;
     white-space:nowrap;
}   
select:not(:checked) {
   	 cursor: pointer;
     border-radius: 20px;
     text-transform: uppercase;
     font-weight:bold;
     margin:10px 10px;
     font-family: fantasy;
     font-size: 40px;
}
select option {
     text-transform: uppercase;
     font-weight:bold;
     color: blue;
     border-radius: 20px;
     margin:0;
}
select:not(:checked) {
     color: blue;
     box-shadow:5px 5px 5px #000;
}
div {
	box-shadow:15px 15px 15px #000;
	border-radius: 360px;
  margin:0 auto;
  top:100px;
  position: relative;
}